body
	font-size: 16px
	align-items: center
	justify-content: center
	display: flex
	background-color: white
	background-position: center
	background-repeat: no-repeat
	background-image: url('images/img.png')
	

.title
	font-size: 2rem

.ref
	width: 100%

